<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FaceStickersViewSectionHeight</key>
	<integer>38</integer>
	<key>IESLiveFeedCellBottomPadding</key>
	<integer>6</integer>
	<key>IESLiveFeedCellCornerRadius</key>
	<integer>2</integer>
	<key>IESLiveFeedCellLeadingPadding</key>
	<integer>8</integer>
	<key>IESLiveFeedCellSingleFlowLeadingPadding</key>
	<integer>4</integer>
	<key>IESLiveFeedCellSingleFlowTitleWidth</key>
	<integer>126</integer>
	<key>IESLiveFeedCellTrailingPadding</key>
	<integer>4</integer>
	<key>IESLiveFeedDoubleFlowLineSpacing</key>
	<integer>3</integer>
	<key>IESLiveFeedInteritemSpacing</key>
	<integer>3</integer>
	<key>IESLiveFeedLeadingTrailingPadding</key>
	<integer>0</integer>
	<key>IESLiveFeedSingleFlowLineSpacing</key>
	<integer>3</integer>
	<key>IESLiveFeedTopPadding</key>
	<integer>0</integer>
	<key>anchorBeautyPickerVIewHeight</key>
	<integer>176</integer>
	<key>anchorBeautyPickerViewHeightInRoom</key>
	<integer>160</integer>
	<key>anchorBeautyPriority</key>
	<integer>7</integer>
	<key>anchorBeautySliderItemWidth</key>
	<integer>20</integer>
	<key>anchorBeautySliderLeading</key>
	<integer>50</integer>
	<key>anchorFaceStickerPriority</key>
	<integer>5</integer>
	<key>anchorFilterPriority</key>
	<integer>6</integer>
	<key>anchorLiveStickerPriority</key>
	<integer>4</integer>
	<key>audienceBtnLeffPadding</key>
	<integer>16</integer>
	<key>audienceBtnMaxLength</key>
	<true/>
	<key>audienceCategorySelectViewBottomLineCorner</key>
	<string>0</string>
	<key>audienceFinishViewTitleTop</key>
	<integer>60</integer>
	<key>audienceListLoginButtonCornerRadius</key>
	<integer>4</integer>
	<key>audienceListMiddleTableHeaderViewLeading</key>
	<integer>16</integer>
	<key>audienceToolBarRightPadding</key>
	<integer>8</integer>
	<key>comboXStrokeSize</key>
	<integer>3</integer>
	<key>commentBtnLandscapeMaxLength</key>
	<integer>200</integer>
	<key>commentBtnPortraitMaxLength</key>
	<integer>131</integer>
	<key>createRoomLiveTitleViewHeight</key>
	<string>48</string>
	<key>createRoomTitleHorizontalPadding</key>
	<integer>16</integer>
	<key>createRoomTitleViewTop</key>
	<integer>24</integer>
	<key>danmakuSettingSliderThumbSide</key>
	<integer>24</integer>
	<key>danmakuSettingSliderValueBottomPadding</key>
	<integer>-8</integer>
	<key>danmakuSettingViewBlurStyle</key>
	<false/>
	<key>danmaku_content_font_size</key>
	<integer>14</integer>
	<key>danmukuHonorImageHeight</key>
	<integer>12</integer>
	<key>danmukuHonorImageWidth</key>
	<integer>12</integer>
	<key>deleteHintLabelCornerRadius</key>
	<integer>2</integer>
	<key>diggLocalCount</key>
	<integer>7</integer>
	<key>disconnectBtnWidth</key>
	<integer>154</integer>
	<key>ecomDeleteButtonCornerRadius</key>
	<integer>2</integer>
	<key>ecomDeleteButtonFontSize</key>
	<integer>13</integer>
	<key>ecomDeleteButtonWidth</key>
	<integer>74</integer>
	<key>ecomEntryCellCornerRadius</key>
	<integer>2</integer>
	<key>ecomEntryCornerRadius</key>
	<integer>2</integer>
	<key>ecomEntryHeight</key>
	<string>123</string>
	<key>ecomThumbnailCornerRadius</key>
	<integer>2</integer>
	<key>ecomUnavailableCornerRadius</key>
	<integer>2</integer>
	<key>expandedToolbarCornerRadius</key>
	<integer>8</integer>
	<key>fansGroupViewAnchorCreatedHeight</key>
	<integer>440</integer>
	<key>fansGroupViewAnchorNotCreatedHeight</key>
	<integer>440</integer>
	<key>fansGroupViewisFansHeight</key>
	<integer>440</integer>
	<key>fansGroupViewisNoFansHeight</key>
	<integer>440</integer>
	<key>followGuidePopupButtonCornerRadius</key>
	<real>22.699999999999999</real>
	<key>followGuidePopupButtonHeight</key>
	<string>50</string>
	<key>followPopUpViewHeadSize</key>
	<integer>70</integer>
	<key>followPopUpViewPadding</key>
	<integer>16</integer>
	<key>followPopUpViewTopPadding</key>
	<integer>15</integer>
	<key>freeGiftRightMargin</key>
	<integer>8</integer>
	<key>gamelive.floatingview.priority.sort.audience</key>
	<array>
		<string>redPackage</string>
		<string>lottery</string>
		<string>taskBanner</string>
		<string>gameLiveRankList</string>
	</array>
	<key>gamelive.floatingview.rank.sort.audience</key>
	<array>
		<string>gameLiveRankList</string>
		<string>taskBanner</string>
		<string>redPackage</string>
		<string>lottery</string>
	</array>
	<key>gestureStickerTableViewTopOffset</key>
	<integer>0</integer>
	<key>giftBarItemBottomLineHeight</key>
	<integer>2</integer>
	<key>giftBarItemBottomLineWidth</key>
	<integer>16</integer>
	<key>giftFirstChargeViewCornerRadius</key>
	<integer>14</integer>
	<key>giftFirstChargeViewHeight</key>
	<integer>28</integer>
	<key>giftFirstChargeViewWidth</key>
	<integer>72</integer>
	<key>giftGuideSendButtonCornerRadius</key>
	<integer>2</integer>
	<key>giftNavigationBarItemWidth</key>
	<integer>74</integer>
	<key>giftSendGiftViewCornerRadius</key>
	<integer>2</integer>
	<key>giftSendInputViewBottom</key>
	<integer>-10</integer>
	<key>giftSendInputViewHeight</key>
	<integer>36</integer>
	<key>giftSendInputViewLeading</key>
	<integer>12</integer>
	<key>giftSendInputViewTrailing</key>
	<integer>-12</integer>
	<key>giftSendViewCountLabelBgWidth</key>
	<integer>76</integer>
	<key>giftSendViewHeight</key>
	<integer>28</integer>
	<key>giftSendViewWidth</key>
	<integer>60</integer>
	<key>giftViewItemLanscapeHeight</key>
	<integer>104</integer>
	<key>giftViewItemPortraitHeight</key>
	<integer>104</integer>
	<key>hostApp</key>
	<string>AWELive</string>
	<key>largeNumberDecimalPlaces</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>largeNumberMod</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>10000</integer>
		<integer>10000</integer>
		<integer>10000</integer>
		<integer>10000</integer>
		<integer>10000</integer>
	</array>
	<key>largeNumberUnits</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string>w</string>
		<string>w</string>
		<string>w</string>
		<string>w</string>
		<string>w</string>
	</array>
	<key>liveStickerOutLineTopPadding</key>
	<integer>0</integer>
	<key>live_pk_invite_button_corner_radius</key>
	<integer>2</integer>
	<key>live_pk_invite_cell_side_padding</key>
	<integer>18</integer>
	<key>live_pk_navbar_corner_radius</key>
	<integer>5</integer>
	<key>live_pk_play_again_side_padding</key>
	<integer>16</integer>
	<key>live_pk_quick_start_button_height</key>
	<integer>36</integer>
	<key>live_pk_quick_start_button_width</key>
	<integer>112</integer>
	<key>live_pk_stop_tip_corner_radius</key>
	<integer>8</integer>
	<key>loadingLineWidth</key>
	<integer>4</integer>
	<key>lotteryListViewExistButtonBottomPadding</key>
	<string>20</string>
	<key>lotteryListViewExistViewHeight</key>
	<string>275</string>
	<key>lotteryListViewExitViewPadding</key>
	<integer>20</integer>
	<key>lotteryListViewResultButtonFontSize</key>
	<string>13</string>
	<key>lotteryListViewSubTitleTopPadding</key>
	<string>4</string>
	<key>lotteryListViewTitleFontSize</key>
	<integer>17</integer>
	<key>managerListCancelButtonCornerRadius</key>
	<integer>2</integer>
	<key>messageListFontSize</key>
	<integer>14</integer>
	<key>normalAnchorRightTopPadding</key>
	<string>86</string>
	<key>normalAudienceRightTopPadding</key>
	<string>70</string>
	<key>normalRightItemPadding</key>
	<integer>8</integer>
	<key>noticeAlertBtRadius</key>
	<integer>4</integer>
	<key>notificationAnimationHeaderWidth</key>
	<string>50</string>
	<key>openLiveFilterPickerViewHeight</key>
	<integer>132</integer>
	<key>openLiveTypeButtonSelectedCornerRadius</key>
	<integer>1</integer>
	<key>openLiveTypeChooseContainerCornerRadius</key>
	<integer>2</integer>
	<key>pauseLiveWhenDisappear</key>
	<false/>
	<key>pcGameAnchorRoomButtonCornerRadius</key>
	<integer>2</integer>
	<key>rankListTopSlideViewHeight</key>
	<integer>3</integer>
	<key>rankListTopSlideViewTop</key>
	<integer>36</integer>
	<key>rankListTopSlideViewWidth</key>
	<integer>12</integer>
	<key>rankListTopSlideViewcornerRadius</key>
	<real>1.5</real>
	<key>replaySliderHeight</key>
	<integer>2</integer>
	<key>showComboViewMinimalCount</key>
	<integer>1</integer>
	<key>showPlayControlTopShareBtn</key>
	<false/>
	<key>smallGiftForGiftViewOffsetY</key>
	<string>40.0</string>
	<key>specialGiftShowTopMargin</key>
	<integer>93</integer>
	<key>toolBarTipLabelInsets0</key>
	<integer>13</integer>
	<key>toolBarTipLabelInsets1</key>
	<integer>12</integer>
	<key>toolBarTipLabelInsets2</key>
	<integer>13</integer>
	<key>toolBarTipLabelInsets3</key>
	<integer>12</integer>
	<key>toolbar.sort.anchor</key>
	<array>
		<string>comment</string>
		<string>GameQuiz</string>
		<string>ecommerce</string>
		<string>redEnvelope</string>
		<string>kPKItemIdentifier</string>
		<string>audiobackground</string>
		<string>interactivemode</string>
		<string>group</string>
		<string>Lottery</string>
		<string>gift</string>
	</array>
	<key>toolbar.sort.audience</key>
	<array>
		<string>interactive</string>
		<string>multiAudioSilence</string>
		<string>quality</string>
		<string>danmuku_setting</string>
		<string>gift_animtion_clear</string>
		<string>orientation</string>
		<string>ecommerce</string>
		<string>share</string>
		<string>screenrecord</string>
		<string>fastgift</string>
		<string>giftPack</string>
		<string>gift</string>
		<string>diggDivide</string>
		<string>digg</string>
		<string>group</string>
		<string>Lottery</string>
		<string>turntable</string>
	</array>
	<key>toolbar.sort.group</key>
	<array>
		<string>BeautyPicker</string>
		<string>FilterPicker</string>
		<string>sticker_head</string>
		<string>sticker_gesture</string>
		<string>sticker</string>
		<string>autoReply</string>
		<string>recordURL</string>
		<string>commentPush</string>
		<string>gameGuide</string>
		<string>reversal</string>
		<string>mirror</string>
		<string>screenrecord</string>
		<string>mucic</string>
		<string>admin</string>
		<string>ecommerce</string>
		<string>share</string>
		<string>kHTSLivePromotionToolBarItemKey</string>
		<string>kHTSLiveShoppintToolBarItemKey</string>
		<string>kIESLiveToolbarItemDouPlusPicker</string>
	</array>
	<key>unreadTipViewFontSize</key>
	<integer>12</integer>
	<key>unreadTipViewHeight</key>
	<integer>24</integer>
	<key>unreadTipViewPadding</key>
	<integer>16</integer>
	<key>upGuideLabelTopPading</key>
	<integer>16</integer>
	<key>userPreviewLandscapeTopPadding</key>
	<string>81</string>
	<key>webPagePanleHeight</key>
	<integer>440</integer>
	<key>webViewBarButtonSize</key>
	<integer>32</integer>
</dict>
</plist>
