<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>live_pk_invite_button_corner_radius</key>
	<integer>14</integer>
	<key>hostApp</key>
	<string>AWELive</string>
	<key>createRoomTitleHorizontalPadding</key>
	<integer>12</integer>
	<key>createRoomTitleViewTop</key>
	<integer>8</integer>
	<key>anchorBeautySliderLeading</key>
	<integer>44</integer>
	<key>slideEffectsPickerHeight</key>
	<integer>234</integer>
	<key>slideBeautyCellImageViewCornerRadius</key>
	<real>24.5</real>
	<key>slideBeautyCellImageViewWidth</key>
	<integer>49</integer>
	<key>slideBeautyCellImageViewHeight</key>
	<integer>49</integer>
	<key>slideBeautyCellImageViewTop</key>
	<integer>3</integer>
	<key>slideBeautyCellSelectedViewCornerRadius</key>
	<real>27.5</real>
	<key>slideBeautyCellSelectedViewWidth</key>
	<integer>55</integer>
	<key>slideBeautyCellSelectedViewHeight</key>
	<integer>55</integer>
	<key>slideBeautyCellTextLabelWidth</key>
	<integer>55</integer>
	<key>slideBeautyCellTextLabelHeight</key>
	<integer>11</integer>
	<key>slideBeautyCellTextLabelFont</key>
	<integer>11</integer>
	<key>slideBeautyPickerLayoutItemWidth</key>
	<integer>49</integer>
	<key>slideBeautyPickerLayoutItemHeight</key>
	<integer>71</integer>
	<key>slideBeautyPickerLayoutMinLineSpacing</key>
	<integer>20</integer>
	<key>slideBeautyPickerLayoutInset</key>
	<integer>10</integer>
	<key>slideBeautyPickerSectionHeaderWidth</key>
	<integer>72</integer>
	<key>slideBeautyPickerSectionFooterWidth</key>
	<integer>24</integer>
	<key>slideBeautyHeaderImageViewWidth</key>
	<integer>28</integer>
	<key>slideBeautyHeaderImageViewHeight</key>
	<integer>28</integer>
	<key>slideBeautyHeaderImageViewLeftOffset</key>
	<integer>34</integer>
	<key>slideBeautyHeaderImageViewTopOffset</key>
	<real>13.5</real>
	<key>slideBeautyHeaderDotViewWidth</key>
	<integer>4</integer>
	<key>slideBeautyHeaderDotViewHeight</key>
	<integer>4</integer>
	<key>slideBeautyHeaderDotViewLeftOffset</key>
	<integer>10</integer>
	<key>slideBeautyHeaderTextLabelTopOffset</key>
	<real>17.5</real>
	<key>slideBeautyFooterDotViewTopOffset</key>
	<real>25.5</real>
</dict>
</plist>
