{
    "type": "amazing",
    "version": "0.1",
    "min_version": "10.4.0",
    "dev_version": "10.4.0",
    "app_params" : {
        "detectFlags": "face_240_detect|ability_gender|face_iris_detect|ability_facefitting|seg_background",
        "innerfilter": true,
        "faceModelName": "perfect2",
        "touchable": 1,
        "sliderPriority": [
            "makeup",
            "distortion"
        ]
    }
}
